.banner{
    background-color: white;
    height:fit-content;
    text-align: center;
    padding: 2em;
    box-shadow: 1px 2px 3px gray;

    img{
        width: 12%;
        min-width: 200px;
    }
}