img{
    height: 200px;
    object-fit: cover;
}

:host {
    ::ng-deep .p-card {
        width: 360px;
        padding:25px;
        min-height: 575px;
    }
  }

:host {
    ::ng-deep .p-card .p-card-body {
        display: flex;
        flex-direction: column;
        min-height: 330px;
        justify-content: space-between;  
    }
  }